@use 'sass:map';

$max-width: 500px;
$max-heigh: 710px;
$primary: #3a424c;
$secondary: #4e555e;
$font-primary: #ffffff;
$font-secondary: #7c7f86;
$icons: #50b0de;
$list-container-heigh: 690px;

$img: '../images/cloudy.jpg';

.container {
    width: 100%;
    height: $max-heigh;
    max-width: $max-width;
    margin-left: calc((100% - #{$max-width})/2);
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.header {
    background-color: $primary;
    padding: 15px 15px 0;
}

.one-day-header {
    background-color: $primary;
    padding: 10px 15px 15px;
}

.autocomplete-header {
    background-color: $primary;
    padding: 15px;
}

.weekly-header {
    background-color: $primary;
    padding: 15px;
    margin-top: 30%;
}

.list-container {
    background-color: $secondary;
    height: $list-container-heigh;
}

.img-container {
    background-image: url($img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: $max-heigh;
    display: block;
    width: 100%;
}

.temperature {
    width: 60%;
    padding-top: 30%;
    margin-left: 20%;
    margin-right: auto;
}

.condition-container {
    display: inline-flex;
    vertical-align: middle
}

.condition-text {
    padding-top: 7px;
}

.text-primary {
    color: $font-primary;
}

.text-city {
    color: $font-secondary;
}

.icon {
    color: $icons;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.inline-flex {
    display: inline-flex;
}

.margin-top {
    margin-top: 13px;
}

.margin-left {
    margin-left: 15px;
}

.one-day {
    width: calc(100% / 7);
    padding-bottom: 4px;
}

.temp {
    padding-left: 7px;
    padding-right: 7px;
    color: $font-primary;
}
